@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

* {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  font-family: 'Work Sans', sans-serif;
  background-color: #fff2fb;
}

.nav-link {
  text-decoration: none;
  color: #010101;
  transform: scale(.8);
}

.nav-link:hover{
  transform: scale(1);
}

/* LOGO */
.logo{
  padding-top: 10px;
  height: 60px;
}

/* HEADER COLUMNS */
.header-container{ 
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
}

.header-left{
  /* border: solid 1px; */
  text-align: left;
  justify-content: left;
}

.header-right{
  display: flex;
  /* border: solid 1px; */
  text-align: right;
  justify-content: right;
}

/* HOMEPAGE */
.homepage-body{
  border: solid 1px;
  text-align: center;
  justify-content: center;
}

/* BODY COLUMNS */
.column-container{
  text-align: center;
  justify-content: center;
  padding-top: 50px;
  padding-left: 0px;
  padding-right: 0px;

}

.column-left{
  border: solid 1px;
}

.column-middle{
  border: solid 1px;
}

.column-right{
  border: solid 1px;
}

/* SIGN IN/UP FORMS */
.login-form{
  text-align: center;
  justify-content: center;
  padding: 10px;
}

.signup-form{
  text-align: center;
  justify-content: center;
  padding: 10px;
}

/* EVENTS */
.events{
  border: solid #e7dafa 2px;
  border-radius: 10px;
  width: 250px;
  height: 250px;
  padding: 25px;
  margin: 25px;
  text-align: left;
  justify-content: left;
  box-shadow: 0px 20px 40px 15px rgba(49, 16, 41, 0.05);
  overflow: hidden;
}

.events-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.add-event-container{
  justify-content: right;
  /* border: 1px solid; */
}

.add-event-button{
  border-radius: 10px;
  cursor: pointer;
  transform: scale(.8);
}

.add-event-button:hover{
  transform: scale(1);
}

.event-link {
    text-decoration: none;
    color: inherit;
}

.event-link:hover{
  color: white;  
}

.events:hover{
  background-color: #ae79fa;
  border: none;
}
.events h1{
  background: none;
}
.events p{
  background: none;
}

/* EVENT DETIALS */
.add-details-button{
  align-items: right;
  cursor: pointer;
  transform: scale(.9);
  background: none;
}

.add-details-button:hover{
  transform: scale(1.1);

}

.details-column-middle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.details-card{
  margin: 10px;  
}

.details-header-left{
  text-align: left;
  justify-content: left;
  padding-left: 20px;
  border: solid 1px;
}

.details-header-right{
  text-align: right;
  justify-content: right;
  padding-right: 20px;
  padding-top: 0;
  border: solid 1px;

}

.border{
  border: solid 1px
}

/* DETAILS CARD COLOR */
.guest-header-bg{
  background-color: #ff7ad8!important
}

.accommodation-header-bg{
  background-color: #2fe885!important
}
.transportation-header-bg{
  background-color: #ffa451!important
}
.expense-header-bg{
  background-color: #52f1f0!important
}
.list-header-bg{
  background-color: #ae79fa!important
}

/* MODAL */


.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(49,49,49,0.8);
}

.modal-form-content {
  position: absolute!important;
  z-index: 1;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background-color: #FDF7EF;
  padding: 14px 28px;
  border-radius: 10px;
  max-width: 600px;
  min-width: 300px;
}


/* GRADIENT MOVING BCKGROUND */
/* body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


