@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&family=Work+Sans:wght@300;500&display=swap');

* {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  font-family: 'Ubuntu', sans-serif;
  background-color: #fff2fb;
}
.login-page {
   min-height: 400px;
   margin-bottom: 100px;
   clear: both;
}

.nav-link {
  text-decoration: none;
  color: #010101;
  transform: scale(.8);
}

.nav-link:hover{
  transform: scale(1);
}

/* LOGO */
.logo{
  padding-top: 10px;
  height: 60px;
}

/* HEADER COLUMNS */
.header-container{ 
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;

}

.header-left{
  /* border: solid 1px; */
  text-align: left;
  justify-content: left;
  border-bottom: solid 2px rgba(49,49,49);
 
}

.header-right{
  display: flex;
  /* border: solid 1px; */
  text-align: right;
  justify-content: right;
  border-bottom: solid 2px rgba(49,49,49);
  
}

/* HOMEPAGE */
.homepage-body{
  border: solid 1px;
  text-align: center;
  justify-content: center;
}

.dashboard-title{
  justify-content: right;
  text-align: left; 
  font-size: 22px;  
}

/* BODY COLUMNS */
.column-container{
  text-align: center;
  justify-content: center;
  padding-top: 15px;
}


/* BORDERS FOR DETAILS COLUMNS
 .column-left{
  border: solid 1px;
}

.column-middle{
  border: solid 1px;
}

.column-right{
  border: solid 1px;
} */
.column-container .intnerary-column-right{
  justify-content: left;
  padding-left: none;
  padding-right: 50px;
}
.column-container .details-column-middle{
  padding-right: none;
  margin: none;
}

/* SIGN IN/UP FORMS */
.login-form{
  text-align: center;
  justify-content: center;
  padding: 10px;
}

.login-text-field{
  margin-top: 15px;
  margin-bottom: 15px;
  
}
.login-text{
  height: 40px;
  width: 300px;
  border-bottom: solid black 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  background: none;

}
.login-text:hover{
  border: solid black 1px;
}

.signup-form{
  text-align: center;
  justify-content: center;
  padding: 10px;
}

/* EVENTS */
.event-card{
  border: solid #e7dafa 2px;
  border-radius: 10px;
  width: 270px;
  height: 255px;
  padding: 25px;
  margin: 25px;
  text-align: left;
  justify-content: left;
  box-shadow: 0 4px 6px 0 hsl(0deg 0% 0% / 20%);
  overflow: hidden;
}

.events-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.add-event-container{
  justify-content: right;
  /* border: 1px solid; */
}

.add-event-button{
  border-radius: 10px;
  cursor: pointer;
  transform: scale(.8);
}

.add-event-button:hover{
  transform: scale(1);
}

.event-link {
    text-decoration: none;
    color: inherit;
}

.event-link:hover{
  color: white;  
}

.event-card:hover{
  background-color: #ae79fa;
  border: none;
}
.event-card h1{
  background: none;
}
.event-card p{
  background: none;
}

/* EVENT DETIALS */
.add-details-button{
  align-items: right;
  cursor: pointer;
  transform: scale(.9);
  background: none;
}

.add-details-button:hover{
  transform: scale(1.1);

}

.details-column-middle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.details-card{
  margin: 10px; 
  max-height: fit-content!important; 
  text-align: left;
  box-shadow: 0 4px 6px 0 hsl(0deg 0% 0% / 35%);
}

.details-header-left{
  text-align: left;
  justify-content: left;
  padding-left: 20px;
  border: solid 1px;
}

.details-header-right{
  text-align: right;
  justify-content: right;
  padding-right: 20px;
  padding-top: 0;
  border: solid 1px;

}

.border{
  border: solid black 1px;
}

.event-details-left{
  max-height: 250px;
  max-width: 250px;
}

/* DETAIL FORMS */
.new-detail-button{
  border: solid 1px black;
  margin: 15px;
  background-color: #fff2fb;
  padding: 8px;
  font-size: 15px;
  cursor: pointer;
  
}
.new-detail-button:hover{
  color: white;
  background-color: #ae79fa;
}

.event-form-text{
  height: 40px;
  width: 300px;
  border-bottom: solid black 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  background: none;

  
}

.event-form-text:hover{
  border: solid black 1px;
  
}

.new-event-text-field{
  padding-top: 15px;
  padding-bottom: 15px;
  background: inherit;  
}

.basic-info-card{
  padding: 0px 0px 25px 0px;
  box-shadow: 0 4px 6px 0 hsl(0deg 0% 0% / 20%);
  border-radius: 4px;
  border: solid #e7dafa 2px;
}

.card-header{
  font-size: 20px;
}

.details-name{
 background: #ae79fa;
 box-shadow: 0 4px 6px 0 hsl(0deg 0% 0% / 20%);
 color: white;
 border-radius: 4px;
}
.details-name h1{
  background: none;
}
.details-description{
  padding-top: 25px;
  font-size: 22px;
}

.activity-header{
  background: #ae79fa;
  box-shadow: 0 4px 6px 0 hsl(0deg 0% 0% / 20%);
  border-radius: 4px;
  color: white;
  
}

.details-delete-btn{
  align-self: right;
  background: none;
  transform: scale(.5);
  opacity: .5;
  cursor: pointer;
}

.details-delete-btn{
  margin: 0 auto;
}

.list-group-item  .details-delete-btn{
  background: none;
  justify-self: right;  
  visibility: hidden;
  transform: scale(.6);
  opacity: .8;
}

.list-group-item:hover .details-delete-btn{
  visibility: visible;
  transform: scale(.8);
}

/* DETAILS CARD COLOR */
.guest-header-bg{
  background-color: #ff7ad8!important
}

.accommodation-header-bg{
  background-color: #2fe885!important
}
.transportation-header-bg{
  background-color: #ffa451!important
}
.expense-header-bg{
  background-color: #52f1f0!important
}
.list-header-bg{
  background-color: #f07271!important
}

/* MODAL */


.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(49,49,49,0.8);
}

.modal-form-content {
  position: absolute!important;
  z-index: 1;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background-color: #FDF7EF;
  padding: 14px 28px;
  border-radius: 10px;
  max-width: 600px;
  min-width: 300px;
  box-shadow: 0 4px 6px 0 hsl(0deg 0% 0% / 20%);
  border: 1px black solid;
}

/* PROFILE */
.profile-image {
  border-radius: 1000px;
  border: 2px solid #010101;
  height: 210px;
  width: 210px;
  display: block;
  margin: 0px auto;
  
}

.profile-image:hover{
  animation-name: spin;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.profile-pic-container{
  padding-top: 25px;
}

.profile-name{
  padding-left: 10px;
  background: #ae79fa;
  box-shadow: 0 4px 6px 0 hsl(0deg 0% 0% / 20%);
  border-radius: 4px;
  color: white;
  width: 100%;
}

.profile-info-container{
  padding-top: 50px;
}
.profile-planz-container{
  padding-top: 60px;
}

.profile-planz-card{
  border: solid black 1px;
  background: white;
  padding: 25px;
  border-radius: 4px;
  width: 200px;
  height: 175px;
  border: solid #e7dafa 2px;
  margin: 25px;
  box-shadow: 0 4px 6px 0 hsl(0deg 0% 0% / 20%);
  overflow:hidden;
}
.profile-planz-card:hover{
  border: solid 1px #ae79fa;
}

.flex-wrap{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.profile-planz-header{
  background: #ae79fa;
  box-shadow: 0 4px 6px 0 hsl(0deg 0% 0% / 20%);
  border-radius: 4px;
  color: white;
  width: 100%;
  text-align: center;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

.profile-username{
  padding-top: 15px;
  
}

/* TIMELINE */

.activity-card > *{
  background: none;
}

.activity-card .details-delete-btn{
  background: none;
  justify-self: right;  
  visibility: hidden;
  transform: scale(.6);
  opacity: .8;
}
.activity-card:hover .details-delete-btn{
  visibility: visible;
  transform: scale(.8);
}

.footer{
  /* text-align: center; 
  justify-content: center;
  position:fixed;
  bottom:25px;
  width:100%;
  color: black;
  height:40px;   
  border-radius: 4px;
  background: #fff2fb; */
  margin-top: 1rem;
  padding: 5px;
  padding-bottom:0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  width: 100%;
  color: black;
}

.footer-link{
  height: 25px;
  width: 25px;
  margin: 10px;
  
  
}



.background-none{
  background: none;
}

/* GRADIENT MOVING BCKGROUND */
/* body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

