
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap');


* {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  font-family: 'Work Sans', sans-serif;
  background-color: #FDF7EF;

}

.nav-link {
  text-decoration: none;
  color: #010101;
}

/* LOGO */
.logo{
  padding-top: 10px;
  height: 60px;
}

/* HEADER COLUMNS */
.header-container{ 
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
}

.header-left{
  /* border: solid 1px; */
  text-align: left;
  justify-content: left;
}

.header-right{
  display: flex;
  /* border: solid 1px; */
  text-align: right;
  justify-content: right;
}

/* HOMEPAGE */
.homepage-body{
  border: solid 1px;
  text-align: center;
  justify-content: center;
  padding: 10px;
}

/* BODY COLUMNS */
.column-container{
  text-align: center;
  justify-content: center;
  padding-top: 50px;

}

.column-left{
  border: solid 1px;
}

.column-middle{
  border: solid 1px;
}

.column-right{
  border: solid 1px;
}

/* SIGN IN/UP FORMS */
.login-form{
  text-align: center;
  justify-content: center;
  padding: 10px;
}

.signup-form{
  text-align: center;
  justify-content: center;
  padding: 10px;
}

/* EVENTS */
.events{
  border: solid black 1px;
  border-radius: 10px;
  width: 250px;
  height: 250px;
  padding: 25px;
  margin: 25px;
  text-align: left;
  justify-content: left;
  box-shadow: 0px 20px 40px 15px rgba(49, 16, 41, 0.05);
  overflow: hidden;
}

.events-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.add-event-container{
  justify-content: right;
  /* border: 1px solid; */
}

.add-event-button{
  border-radius: 10px;
}

.add-event-button:hover{
  border-radius: 1000px;
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,.8);
}

.event-link {
    text-decoration: none;
    font-weight: 300px;
    color: black;
}

.event-link:hover{
  font-weight: 600px;
  color: purple;
}

/* EVENT DETIALS */
.add-details-button{
  align-items: right;
}

.add-details-button:hover{
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,.8);
  border-radius: 1000px;

}

.details-column-middle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.details-card{
  margin: 10px;  
}

.details-header-left{
  text-align: left;
  justify-content: left;
  padding-left: 20px;
  border: solid 1px;
}

.details-header-right{
  text-align: right;
  justify-content: right;
  padding-right: 20px;
  padding-top: 0;
  border: solid 1px;

}

.border{
  border: solid 1px
}

/* MODAL */
body.active-modal {
  overflow-y: hidden;
}

.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49,49,49,0.8);
}

.modal-form-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background-color: #FDF7EF;
  padding: 14px 28px;
  border-radius: 10px;
  max-width: 600px;
  min-width: 300px;
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


